.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

form{
  width: 400px;
  margin: auto;
}

form div{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

div label{
  text-align: left;
}

.gender{
  display: flex;
  width: 400px;
  margin: auto;
}